header {
  border-width: 0.14px;
  border-color: #b5b7ba;
  border-style: solid;
  background-color: #dfdfdf;
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}

header a {
  font-family: 'Times New Roman', Times, serif;
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: #2e353d;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  flex-wrap: wrap;
  min-height: 500px;
}

main img {
  border-radius: 50%;
  width: 30%;
}

main p {
  width: 693px;
  color: #242424;
  font-size: 24px;
  font-weight: 100;
  line-height: 36px;
  text-align: left;
}

footer {
  background-color: #434445;
  height: 132px;
  color: #a4a4a4;
  font-size: 20px;
  font-style: italic;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
}